.productsListContainer {
    max-width: 1320px;
    margin-inline: auto;
    padding: 20px 10px;
}

.title {
    margin-bottom: 20px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.cardButton {
    display: flex;
    align-items: center; 
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.cardDescription {
     overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}
.cartTitle {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.productCartItemConent {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-inline: 10px;
}

.productCartItemImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.productCartItemPrice {
    font-weight: 600;
    color:chocolate;
    font-style: italic;
    font-size: 1.2rem;
}

.cardPriceAndRating {
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: space-between;
}

.cardPrice {
    font-weight: 700;
    color:chocolate;
    align-self: start;
    font-size: 1.4rem;
    
    
    
}

.cartProductCartItemTitle {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   font-weight: 600;
}

.productCartItemContentPlaceholder {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}