.header {
    background-color: #114579;
}

.badge {
    font-size: 0.65rem;
    position: absolute;
}

.cartButton {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}